@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./base.css";

/* Prevent layout shift when scrollbars appear */
html {
  overflow-y: scroll;
}

/* Code copy button */
.copy-code {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: rgba(var(--color-card), 0.7);
  border: 1px solid rgba(var(--color-border), 0.8);
  color: rgb(var(--color-text-base));
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  cursor: pointer;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

pre:hover .copy-code {
  opacity: 1;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(var(--color-card-muted), 0.8);
  border-radius: 9999px;
}
